table{
    margin: 20px auto;
}
.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;


}
.box{
    border: solid 2px black;
    width: 400px;
    height: 40PX;
    text-align: left;
    padding: 5px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
/* th{
    text-align: left;
} */
section{
    border: solid 2px black;
    margin:  40PX 215PX ;
}