*{
    margin: auto;
    align-self: center;
    text-align: center;
}
.inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outputs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.boxs{
    border: solid 1px #ced4da;;
    width: 350px;
    height: 40PX;
    text-align: left;
    padding: 5px;
}
form{
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    border: 1px solid #ced4da;
}
label{
    Padding-left: 20px;
}
table{
    /* padding: 20px 0px; */
    margin-top: 20px ; 
}
caption{
    text-align: center;
}
button{
    margin-bottom: 50px;
}
h2{
    color: #0d6efd;
}
h4{
    color: #9aa6b3;
}
#imprimer_zone{
    Margin-top: 20px;
}
@media print {
    #imprimer_zone{
        display: none;
    }
}